
nav {
  display: flex;
  justify-content: center;
  float: left;
  align-items: center;
  background-color: rgb(75, 184, 178);
  border: black;
  top: 0
}

nav ul {
  display: flex;
  margin: 20px 0px;
  list-style: none; 
}

nav li {
  display:inline-block;
  padding: 15px 30px;
}

nav a { 
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-weight: 300px;
}

h1 {
  width: 100%;
  font-size: 4rem;
  border: 0px;
  padding: 0px; 
  Margin: auto;

}
#home {
  background-image: url(../img/horizon.jpeg);
  background-size: cover;
  background-position: center;
}
#heading {
  text-align: center;

}
body { 
  text-align: left;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 80%;
  line-height: 1.6rem;
  margin-left: 5rem;
}
#about me{
 display: flex;
 flex-direction: column;
 padding: 20rem;
 margin-left: 20rem;
 margin-right: 20erm;

}
#medicine img {
  display: flex; 
  width: 100px;
  height: 100px;
  float: left;

}
#hike img {
  display: flex; 
  width: 100px;
  height: 100px;
  float: right
}

#box {
  margin: 10px;
  padding: 20px;
  border: 1px solid #000;
  width: 700px;
  height: 200px;
}
.words {
  padding-left: 50px;
  margin-left: 50px;
  
}
.words ol {
  text-align: left;
}

.card {

  border-bottom:8px solid rgb(75, 184, 178);
  border-left: 2px solid rgb(75, 184, 178);
  border-top: 2px solid rgb(75, 184, 178) ;
  border-right:2px solid rgb(75, 184, 178);
  margin-right: 10 px;
}
.card-text {
  overflow: break-word;

}
form {
margin-block-start: 0em;
}
